.center {
    position: absolute;
    width: 70%;
    top: 3%;
    left: 50%;
    background-color: white;
    border-radius: 10px;
    transform: translate(-50%, 0%);
}

.center h3 {
    text-align: center;
}