/* font */
@font-face {
    font-family: 'SpoqaHanSansNeo-Thin';
    src: url('./../font/SpoqaHanSansNeo-Thin.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('./../font/SpoqaHanSansNeo-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('./../font/SpoqaHanSansNeo-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url('./../font/SpoqaHanSansNeo-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('./../font/SpoqaHanSansNeo-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* index.html css */
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #2F2F2F;
    display: block;
    font-family: 'SpoqaHanSansNeo-Light';
}


/* header */
#header{
    width: 100%;
    margin-top: 10px;
}

#setting {
    height: 45px;
    margin-left: 15px;
}

#korean {
    float: right;
    height: 45px;
    margin-right: 15px;
}

#english {
    float: right;
    height: 45px;
    margin-right: 15px;
}


/* main */
#main{
    width: 100%;
}

#main_text{
    width: 60%;
    margin: 28% 20% 20% 20%;
}

#title {
    width: 60%;
    margin: 0 20% 2% 20%;
}

#name{
    width: 31%;
    margin: 15px 34.5% 17% 34.5%;
}

/* bottom menu */
#menu {
    display: inline;
}

#reserve {
    width: 30%;
    margin-left: 18%;
}

#cancel_reserve {
    width: 30%;
    margin-left: 4%;
}

/* modal */
.black_bg {
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.modal_wrap {
    display: none;
    width: 300px;
    height: 100px;
    position: absolute;

    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    border-radius: 8px;
    background: #eee;
    z-index: 2;
}

.modal_head {
    border-bottom: 2px solid #adadad;
    padding: 5px 10px 5px 10px;
}

.modal_close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    /* background: url(../img/close-window.png); */
    background: url(../img/close_icon.png);
    text-indent: -9999px;
}

.modal_content {
    padding: 5px;
}

/* footer img */
img.home-img {
    position: absolute;
    width: 50px;
    height: 50px;

    bottom: 20px;
    right: 20px;
}
